// Fonts
$headerfont : 'Open Sans', Arial, Sans-Serif;
$bodyfont : 'Roboto', Sans-Serif;
$metafont : 'Source Code Pro', Monospace;

// Colours
$headercolor : rgba(48, 52, 63, 1);
$bodycolor : lighten($bodycolor,  20%); 

$primarycolor : rgba(128, 117, 242, 1);